body {
    margin: 0;
    color:black;

}

.nav {

}

.flex-container {
    background:paleturquoise;
    display:flex;
    justify-content:center;
    align-items: baseline;

}

.name {
    margin: 2px;;
    padding-left: 0em;

}

.container {
    
}

.img {
   margin-left: 50px;
   width: 190px;
   height: 100px;
   border-radius: 50px;
}


ion-icon {
    font-size: 32px;;
    
  }

